torch
openai-whisper
transformers
datasets
arabert
huggingface_hub
safetensors
fastapi
uvicorn
librosa
soundfile
scipy
numpy
webrtcvad
sounddevice
matplotlib
seaborn
pydub
gunicorn
arabic_reshaper
python-bidi